<body>
    <div class="Page-login">
        <div class="container rounded-3" id="container">
            <form action="/updatePassword/<%= id %>/<%= token %>" method="POST" class="w-100">
                <h1>Đặt lại mật khẩu</h1>
                <p>
                    <%= email %>
                </p>

                <div class="w-100 p-2">
                    <input type="password" placeholder="Mật khẩu mới" name="password" id="password" class="w-100">
                    <% if (errors && errors.password) { %>
                        <span class="error-message text-danger">
                            <%= errors.password %>
                        </span>
                        <% } %>
                </div>

                <!-- <div class="w-100 p-2">
                    <input type="password" placeholder="Xác nhận mật khẩu mới" name="confirmPassword"
                        id="confirmPassword" class="w-100">
                    <% if (errors && errors.confirmPassword) { %>
                        <span class="error-message text-danger">
                            <%= errors.confirmPassword %>
                        </span>
                        <% } %>
                </div> -->


                <a href="/resgister">Quay về trang Đăng ký</a>

                <button class="button" type="submit">Gửi xác nhận</button>
            </form>
        </div>
    </div>
</body>