<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <!-- TopBar -->

    <!-- Topbar -->
    <!-- Container Fluid-->
    <div class="container-fluid" id="container-wrapper">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh sách </h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
          <li class="breadcrumb-item">Bảng</li>
          <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
        </ol>
      </div>

      <!-- Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
              <h6 class="m-0 font-weight-bold text-primary">Quản lý</h6>
            </div>

            <!-- Tabs Navigation -->
            <ul class="nav nav-tabs m-2">
              <li class="nav-item">
                <a class="nav-link <%= activeTab === 'products' ? 'active bg-warning text-white' : '' %>"
                  href="?tab=products">Sản phẩm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= activeTab === 'categories' ? 'active bg-info text-white' : '' %>"
                  href="?tab=categories">Danh mục</a>
              </li>
            </ul>

            <div class="card-body">
              <div class="table-responsive">
                <% if (activeTab==='products' ) { %>
                  <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th>ID</th>
                        <th>Ảnh sản phẩm</th>
                        <th width="30%">Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Danh mục</th>
                        <th class="text-center">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% products.forEach((product,index)=> { %>
                        <tr>
                          <td>
                            <%= index + 1 %>
                          </td>
                          <td>
                            <% if (product.images && product.images.length> 0) { %>
                              <img src="/assets/uploads/products/<%= product.images[0] %>" alt=" " width="100px"
                                height="100px">
                              <% } else { %>
                                <p>Không có hình ảnh</p>
                                <% } %>
                          </td>

                          <td>
                            <%= product.name %>
                          </td>
                          <td>
                            <%= formatCurrency(product.price) %>
                          </td>
                          <td>
                            <%= product.category ? product.category.name : 'Không có danh mục' %>
                          </td>
                          <td class="text-center d-flex">
                            <form action="/admin/product/restore/<%= product.id %>?_method=PATCH " method="post"
                              class="col-6">
                              <button class="btn btn-sm btn-success"
                                onclick="return confirm('Bạn có chắc chắn muốn khôi phục sản phẩm : <%= product.name %>  không?')">Khôi
                                phục</button>
                            </form>
                            <a href="/admin/product/edit/<%= product.id %>" class="btn btn-sm btn-primary">Sửa</a>
                            <form action="/admin/product/delete/<%= product.id %>?_method=delete" method="post"
                              class="col-6">
                              <button class="btn btn-sm btn-danger"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa vĩnh viễn sản phẩm: <%= product.name %>?')">Xóa</button>
                            </form>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>
                  <% } else if (activeTab==='categories' ) { %>
                    <table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>ID</th>
                          <th> Ảnh</th>
                          <th>Tên danh mục</th>
                          <th class="text-center">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% categories.forEach((category, index)=> { %>
                          <tr>
                            <td>
                              <%= index+1 %>
                            </td>
                            <td>
                              <img src="/assets/uploads/categories/<%= category.image %>" alt="" width="100px"
                                height="100px">
                            </td>
                            <td>
                              <%= category.name %>
                            </td>
                            <td class="text-center d-flex">

                              <form action="/admin/category/restore/<%= category.id %>?_method=PATCH " method="post"
                                class="col-6">
                                <button class="btn btn-sm btn-success"
                                  onclick="return confirm('Bạn có chắc chắn muốn khôi phục danh mục : <%= category.name %>  không?')">Khôi
                                  phục</button>
                              </form>
                              <a href="/admin/category/edit/<%= category.id %>" class="btn btn-sm btn-primary">Sửa</a>

                              <form action="/admin/category/delete/<%= category.id %>?_method=delete " method="post"
                                class="col-6">
                                <button class="btn btn-sm btn-danger"
                                  onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục : <%= category.name %> vĩnh viễn không?')">Xóa</button>
                              </form>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                    <% } %>